{
  "extends": [
    "walmart"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "fetch": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "eol-last": "off",
    "max-nested-callbacks": "off"
  }
}
